.road-map {
  text-align: center;
  // background-image: url('./../../assets/svg/back-road-map-rounds.svg');
  background: linear-gradient(to right, #0491f8 0%, #21a6c8 33%, #51cb76 66%, #96fe02 100%);
  background-repeat: no-repeat;
  background-position: top center;
  // background-size: 100% 70%;
  background-size: 100%;
  padding-top: 3rem;
  margin-top: 2rem;
  padding-bottom: 24rem;
  margin-bottom: 2rem;

  .stage {
    position: relative;
    .price {
      color: white;
      font-weight: 300;
      position: absolute;
      width: 100%;
      bottom: -30px;
      font-size: 20px;
    }
  }

  h2 {
    color: white;
  }

  .text-block {

    p {
      margin: 10px 0;
    }
  }

  .road-map-header {
    margin-bottom: 50px;
  }

  .stages-middle-line {
    background-image: linear-gradient(to right, black 5px, transparent 3px);
    background-size: 10px 2px;
    background-repeat: repeat-x;
    background-position: 0 bottom;

    position: relative;
    width: 72% !important;
    margin: 0 auto;
    height: 2px;
    top: 72px;
  }

  .road-map-stages {
    width: 87%!important;
    margin: 0 auto;

    .round {
      width: 20px;
      height: 20px;
      background: white;
      border-radius: 20px;
      margin: 0 auto;
    }

    .number {
      font-size: 40px;
      color: white;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .vertical-line {
      background-image: linear-gradient(white 5px, transparent 3px);
      background-position: right;
      background-size: 2px 8px;
      background-repeat: repeat-y;
      margin: 0 auto;
      top: 0;
      color: white;
      z-index: 1;
      width: 3px;
      height: 30px;
    }

    .header {
      font-size: 22px;
      color: white;
      margin: 10px 0;
    }
  }

  .road-map-line {
    .road-map-stone {
      margin-bottom: 50px;

    }
  }
}

@media (max-width: 767px) {
  .road-map {
    padding-bottom: 7rem !important;
    background-size: 1250%;
    .stages-middle-line {
      width: 46% !important;
    }
  }
  .road-map-stages {
    margin-bottom: 90px !important;
  }
  .price {
    bottom: -50px !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .road-map {
    background-size: 320%;
    .stages-middle-line {
      width: 57% !important;
    }
  }
  .road-map-stages {
    margin-bottom: 90px !important;
  }
  .header {
    font-size: 18px !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .road-map {
    padding-bottom: 12rem;
    background-size: 205%;

    .stages-middle-line {
      width: 57% !important;
    }
  }
  .road-map-stages {
    margin-bottom: 45px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .road-map {
    height: 600px;
    background-size: 130%;
    padding-bottom: 8rem;
  }
}

@media (min-width: 1400px) and (max-width: 1500px) {
  .road-map {
    height: 600px;
    padding-bottom: 10rem;
    background-size: 110%;
  }
}