.main-menu {
  transition: all .3s ease;

  .menu-row {

    .el-menu-item {

      a {
        outline: none;
      }

      &:hover {
        border-bottom: 1px solid black !important;
      }
    }
  }

  &.small {

    .el-menu-sbi {
      .white-paper {

        &:hover {
          background-color: transparent;
        }

        span {
          padding: 3px 30px;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }

    .menu-row {
      background: #383838;

      .el-menu-item {
        color: white;

        &:hover, &:active {
          color: black;
        }
      }
    }
    .el-menu--horizontal>.el-menu-item {
      height: 32px;
      line-height: 32px;
      transition: all .3s ease;
    }
  }

  .el-menu-sbi {

    .white-paper {
      float: right;
      position: fixed;
      right:200px;

      span {
        background-color: #565858;
        border-radius: 30px;
        color: white;
        padding: 10px 30px;

        &:hover {
          background-color: rgba(86, 88, 88, 0.66);
        }
      }
    }
    .sign-in {
      float: right;
      position: fixed;
      right:100px;
    }

    .lang {
      float: right;
      position: fixed;
      right:50px;
    }
  }
}

.el-menu--collapse {
  .el-menu-item {
    width: 62px;

  }
}

@media (max-width: 1568px) {
  .el-menu-item {
    font-size: 12px !important;
  }

}

@media (max-width: 768px) {
  i {
    font-size: 16px !important;
  }
  .el-menu-item {
    padding: 0 10px !important;
  }
}

@media (max-width: 500px) {
  .header-block {
    height: 510px;
  }
  i {
    font-size: 12px !important;
  }
  .el-menu-item {
    padding: 0 5px !important;
  }
}