.main-menu {

}

.el-menu--collapse {
  .el-menu-item {
    width: 62px;

  }
}

@media (max-width: 1568px) {
  .el-menu-item {
    font-size: 12px !important;
  }

}

@media (max-width: 768px) {
  i {
    font-size: 16px !important;
  }
  .el-menu-item {
    padding: 0 10px !important;
  }
}

@media (max-width: 500px) {
  .header-block {
    height: 510px;
  }
  i {
    font-size: 12px !important;
  }
  .el-menu-item {
    padding: 0 5px !important;
  }
}