.main-menu {
  transition: all .3s ease;

  &.show {
    .menu-row {
      transition: opacity 3s ease;
      opacity: 1;
    }
  }

  .menu-row {
    opacity: 0;

    .menu-icon {
      width: 84px;

      span {
        text-align: center;
        width: 84px;
        display: block;
        position: absolute;
        top: 45px;
        color: white;
      }
    }

    .el-menu-vertical {
      height: 100vh;

      .el-menu-item {
        padding-left: 25px !important;

        &:nth-child(6) {
          margin-bottom: 10vh;
        }

        &:before {
          position: absolute;
          content: '';
          top: 0;
          left: 15px;
          width: 1px;
          height: 100%;
          display: block;
          background-image: linear-gradient(gray 5px, transparent 3px);
          background-position: right;
          background-size: 1px 8px;
          background-repeat: repeat-y;
          margin: 0 auto;
          color: white;
          z-index: 1;
        }

        &:hover {
          border-bottom: none !important;
        }

        &.is-active {
          a {
            &:before {
              z-index: 10;
              position: absolute;
              content: '';
              top: 23px;
              left: 10px;
              width: 10px;
              height: 10px;
              border-radius: 10px;
              display: block;
              background: #0371c7; /* Old browsers */
              background: -moz-linear-gradient(left, #0371c7 0%, #8ac33d 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(left, #0371c7 0%,#8ac33d 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to right, #0371c7 0%,#8ac33d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0371c7', endColorstr='#8ac33d',GradientType=1 ); /* IE6-9 */
            }
          }
        }
      }
    }

    .el-menu-item {

      a {
        outline: none;
      }

      &:hover {
        border-bottom: 1px solid black !important;
      }
    }
  }

  &.small {

    .el-menu-sbi {
      .white-paper {

        &:hover {
          background-color: transparent;
        }

        span {
          padding: 3px 30px;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }

    .menu-row {
      background: #4e5a8e;

      .el-menu-item {
        color: white;

        &.is-active {
          color: white;
          border-bottom: 1px solid white;
        }

        &:hover, &:active {
          color: black;

          &.is-active {
            color: black;
            // border-bottom: 1px solid white;
          }
        }
      }
    }
    .el-menu--horizontal>.el-menu-item {
      height: 32px;
      line-height: 32px;
      transition: all .3s ease;
    }
  }

  .el-menu-sbi {

    .el-menu-item {
      border-bottom: none;
    }

    .el-menu--horizontal {
      margin: 0 auto!important;
    }

    .white-paper {

      span {
        background-color: #86c0b0;
        border-radius: 30px;
        color: white;
        padding: 10px 30px;

        &:hover {
          background-color: #4e5a8d;
        }
      }
    }
    .sign-in {
      float: right;
      position: fixed;
      right: 0;
    }

    .lang {
      float: right;
      position: fixed;
      right:50px;
    }
  }
}

.el-menu--collapse {
  .el-menu-item {
    width: 62px;

  }
}

@media (max-width: 1568px) {
  .el-menu-item {
    font-size: 12px !important;
  }

}

@media (max-width: 768px) {
  i {
    font-size: 16px !important;
  }
  .el-menu-item {
    padding: 0 10px !important;
  }
}

@media (max-width: 500px) {
  .header-block {
    height: 510px;
  }
  i {
    font-size: 12px !important;
  }
  .el-menu-item {
    padding: 0 5px !important;
  }
}

@media (max-width: 1200px) {
  .main-menu.small {
    .menu-row {
      background: transparent !important;
      .el-menu-item {
        color: black !important;
      }
    }
  }
  .menu-row {
    width: auto;
    background: transparent;
    .el-menu--collapse {
      display: none;
    }
  }
  .el-icon-sb-invest {
    padding: 30px !important;
    background-position: center !important;
    background-size: 50px !important;
    background-repeat: no-repeat !important;
  }
}