.about-company {
  padding-top: 3rem;
  margin-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;

  .el-carousel {
    background: url('./../../assets/svg/slider.svg');
    background-position: center;
    background-repeat: no-repeat;
  }

  .svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-block {
    padding: 0 5rem 0 0;
    width: 100%;
    svg {
      width: 100%;
      fill: white;
      stroke: #0f0f0f;
      stroke-opacity: 0.7;
    }
  }
  .text-block {
    text-align: left;
    line-height: 2rem;

    &.center {
      text-align: center !important;

      li {
        list-style-type: none;
        p {

        }
      }
    }

    .problem {
      font-weight: bold;
    }

    p {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  .text-block-center {
    line-height: 2rem;
    p {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .stone-samples {
    img {
      width: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .about-company {
    .image-block {
      padding: 0 5rem 0 5rem;
    }
  }
}