.about-company {
  padding-top: 3rem;
  margin-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;


  .el-carousel {
    &__button {

    }

    .text-block {
      padding-right: 20px;
      padding-left: 20px;
      text-align: justify;
    }
  }

  .block-row {
    margin-bottom: 5rem;
    font-size: 18px;
    height: 500px;
    display: table-cell;
    vertical-align: bottom;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .gif {
    padding-top: 1rem;

    &.right {
      background-position: right bottom;
    }
    &.left {
      background-position: left bottom;
    }

    // background: linear-gradient(#57e687, #0e8dbb);
    background-repeat: no-repeat;
    padding-bottom: 50px;
    background-size: 80%;
    img {
      position: relative;
      width: 100%;
    }
  }

  .idea {

    h2 {
      display: inline-block;
      border-bottom: 1px solid;
      padding: 0 15px 10px 15px;
    }

    &.left {

      .text-block {
        text-align: right;
      }
    }
    &.right {
      .text-block {
        text-align: left;
      }
    }
  }



  .svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-block {
    padding: 0 5rem 0 0;
    width: 100%;
    svg {
      width: 100%;
      fill: white;
      stroke: #0f0f0f;
      stroke-opacity: 0.7;
    }
  }
  .text-block {
    text-align: left;
    line-height: 2rem;
    padding-top: 3rem;

    &.center {
      text-align: center !important;

      li {
        list-style-type: none;
        p {

        }
      }
    }

    .problem {
      font-weight: bold;
    }

    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
  .text-block-center {
    line-height: 2rem;
    p {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .stone-samples {
    img {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .about-company {
    margin-top: 0 !important;
  }
  .idea {

    .text-block {
      text-align: center !important;
    }
  }
  .block-row {
    margin-bottom: 2rem !important;
  }
}

@media (max-width: 1024px) {
  .about-company {
    .image-block {
      padding: 0 5rem 0 5rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .text-block {
    padding-top: 0 !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .team {

    .team-row {

      .team-block {
        .text {
          height: 65px !important;
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .team {

  }
}

@media (min-width: 1400px) and (max-width: 1500px) {

}