.bounty {
  text-align: center;
  // background-image: url('./../../assets/svg/back-road-map-rounds.svg');
  // background: linear-gradient(#4897be, #606aa3);
  background: linear-gradient(to right, #4897be 0%, #1a7dae 33%, #2f8a97 66%, #145d83 100%);
  background-repeat: no-repeat;
  background-position: top center;
  // background-size: 100% 70%;
  background-size: 100%;
  padding-top: 3rem;
  margin-top: 0;
  padding-bottom: 12rem;
  margin-bottom: 2rem;

  h2 {
    color: white;
    margin-bottom: 3rem;
  }

  p {
    font-size: 18px;
    span {
      color: white;
    }
  }

  .round {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
  }

}
@media (max-width: 768px) {
  .bounty {
    background-size: 700%;
    padding-bottom: 150px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .bounty {
    padding-bottom: 10rem;
    background-size: 230%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .bounty {
    padding-bottom: 10rem;
    background-size: 170%;
  }
}

/* @media (min-width: 1200px) and (max-width: 1280px) {
  .bounty {
    padding-bottom: 8rem;
  }
} */

@media (min-width: 1200px) and (max-width: 1400px) {
  .bounty {
    background-size: 130%;
  }
}

@media (min-width: 1400px) and (max-width: 1500px) {

}
