.footer-block {
  text-align: center;

  .grid-content {

  }

  .vertical-line {
    width: 1px;
    background-color: black;
    height: 18px;
    margin: 0 auto;
  }

  .stones-top {
    margin-bottom: 50px;
  }

  .stones-bottom {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .row-bg {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .text-block {
    margin-bottom: 20px;
  }
}