.footer-block {
  text-align: center;

  .grid-content {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .vertical-line {
    width: 1px;
    background-color: black;
    height: 18px;
    margin: 0 auto;
  }
}