.top-header {
  position: relative;
  height: 1080px;
  background-image: url('./../../assets/svg/full_earth.svg') !important;
  background-repeat: no-repeat !important;
  background-position: 95% 40% !important;
  background-size: 40% !important;

  .social {
    margin-top: 50px;
    .el-col {
      text-align: center;
    }
  }

  .divider {
    width: 25%;
    height: 1px;
    margin: 0;
    padding: 0;
    background: black;
  }

  .top-top {
    height: 400px;

    .bg-purple-dark {
      position: absolute;
      width: 100%;
      z-index: 100;
    }

    .sbi-logo-container {
      margin-top: 15%;

      .sbi-logo {
        width: 100%;
      }
    }

    .sbi-text-container {
      text-align: left;
      margin-top: 15%;

      h1 {
        // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
        font-weight: 500;
        font-size: 22px;
      }
      h2 {
        // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
        font-weight: 300;
        a {
          color: #0465ac;
        }
        margin-bottom: 0.5rem;

        &.h2 {
          font-size: 16px;
        }
      }

      h3 {
        color: #0465ac;
        font-weight: 300;
        font-size: 30px;
        margin-top: 0.5rem;
        // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);

        img {
          width: 20px;
          margin-right: 10px;
        }
      }

      button.invest {
        font-size: 21px;
        text-transform: uppercase;
        background: #44b9a0;
        border: 1px solid #44b9a0;
        box-shadow: 0 0 5px #44b9a0;
        color: white;
        font-weight: 300;
        margin-top: 1rem;

        &:hover {
          background: #0d8bbc;
          box-shadow: 0 0 5px #0d8bbc;
        }
      }
    }
  }
  .top-bottom {
    // background: url('./../../assets/svg/wave-pure2.svg');
    background-size: cover;
    height: 680px;

    .sbi-scale-container {
      width: 60%;
      height: 283px;
      margin: 0 auto;
      margin-top: 340px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;

      .scale-row {
        padding-top: 60px;

        .scale-line-block {
          padding-top: 20px;
        }
      }

      .header {
        font-size: 22px;
      }

      .timer {

        .value {
          text-transform: uppercase;
          color: black;
        }
      }

      .comment-block {
        position: relative;

        .start, .pre-ico, .ico, .soft-cap, .hard-cap {
          position: absolute;
          top: 50px;

          header {
            color: #0c64ac;
            font-weight: bold;
            font-size: 22px;
          }

          &:before {
            position: absolute;
            content: '';
            top: -50px;
            width: 2px;
            height: 45px;
            display: block;
            background-image: linear-gradient(#5e6ba2 5px, transparent 3px);
            background-position: right;
            background-size: 2px 8px;
            background-repeat: repeat-y;
            margin: 0 auto;
            color: white;
            z-index: 1;
          }
        }

        .start {
          width: 40px;
          left: 10px;
          text-align: left;

          &:before {
            left: 0;
          }
        }

        .pre-ico {
          width: 11%;
          left: 11%;

          &:before {
            left: 60px;
          }
        }

        .ico {
          width: 10%;
          left: 25%;

          &:before {
            left: 60px;
          }
        }

        .soft-cap {
          width: 10%;
          left: 40%;

          &:before {
            left: 60px;
          }
        }

        .hard-cap {
          width: 15%;
          left: 84%;
          text-align: right;

          &:before {
            left: 100%;
          }
        }
      }

      .h4 {
        font-size: 40px;
        float: left;
        margin: 0 auto;
        width: 100%;
        font-weight: bold;
        color: #0c64ac;

        .scale {
          display: block;
          float: left;
          .value {
            position: relative;
            font-size: 10px;
            display: block
          }
        }
      }

      .scale-line {
        position: relative;
        width: 100%;
        height: 10px;
        overflow: hidden;
        background: white;
        border-radius: 5px;
        box-shadow: 0 0 5px #00002f;
        -webkit-box-shadow: 0 0 5px #00002f;
      }

      .line {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        // background-image: linear-gradient(to right, transparent 0%, transparent 50%, #fff 50%, #fff 100%);
        background: linear-gradient(to right, #96fe02 0%,#51cb76 33%,#21a6c8 66%,#0491f8 100%);
        border-radius: 5px;

        &::after {
          background: white;
          position: relative;
          left: 77.5%;
          top: 1px;
          height: 8px;
          width: 8px;
          border-radius: 5px;
        }
      }

      .before-ico {
        .header {
          margin-bottom: 20px;
          display: block;
          font-size: 25px;
        }
      }
    }
  }
}

.videoContainer {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;

  iframe {
    width: 100%;
    height: 100%;
    pointer-events: none;
   /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
  }
}

@media (max-width: 450px) {
  .el-button.invest {
    font-size: 10px !important;
  }
}

@media (max-width: 767px) {

  .social {
    margin-top: 18px !important;
  }
  .top-header {
    margin-top: 0 !important;
    background-position: 95% 37% !important;

    .top-top .sbi-text-container {
      margin-top: 30%;
      margin-bottom: 110px;
      h3 {
        font-size: 18px;
      }
    }
  }
  .sbi-scale-container {
    width: 90% !important;
    margin-top: 290px !important;
  }
  .scale-row {
    padding-top: 10px !important;
  }
  .header {
    font-size: 20px !important;
  }
  .h4 {
    .scale {
      font-size: 30px !important;
    }
  }
  .pre-ico {
    width: 40% !important;
  }
  .timer {
    margin-bottom: 20px !important;
  }
  .hard-cap {
    width: 16% !important;
    left: 80% !important;
  }
  .sbi-logo-container {
    margin-top: 2rem !important;
  }
  h2 {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .top-header {
    margin-top: 0 !important;
    background-position: 95% 37% !important;

    .social {
      margin-top: 225px;
    }
  }
  .sbi-scale-container {
    width: 90% !important;
  }
  .h4 {
    .scale {
      font-size: 30px;
    }
  }
  .pre-ico {
    width: 20% !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .h4 {
    .scale {
      font-size: 30px;
    }
  }
  .pre-ico {
    width: 20% !important;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .top-header {
    .timer {
      .header {
        font-size: 20px !important;
      }
      .h4 {
        font-size: 30px !important;
      }
    }
    .pre-ico {
      width: 15% !important;
    }
  }
}

@media (min-width: 1400px) and (max-width: 1500px) {
  .top-header {

  }
}