.top-header {
  position: relative;
  height: 100%;
  background: rgba(255, 255, 255, 0.44);

  .top-top {
    height: 450px;

    .sbi-logo-container {
      margin-top: 8rem;

      .sbi-logo {
        width: 100%;
      }
    }

    .sbi-text-container {
      text-align: center;

      h1 {
        // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
        font-weight: 300;
      }
      h2 {
        // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
        font-weight: 300;
        a {
          color: #0465ac;
        }
      }

      h3 {
        color: #0465ac;
        font-weight: 300;
        font-size: 30px;
        // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);

        img {
          width: 20px;
          margin-right: 10px;
        }
      }

      button.invest {
        font-size: 21px;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.47843137254901963);
        border: 1px solid black;
        color: white;
        font-weight: 300;
        margin-top: 1rem;

        &:hover {
          background: rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  .top-bottom {
    background: url('./../../assets/svg/wave.svg');
    background-size: cover;
    height: 630px;

    .sbi-scale-container {
      height: 283px;
      margin: 0 auto;
      margin-top: 50px !important;
      background: url('../../assets/svg/scale-container.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;

      .left-block {
        padding-top: 10px;
        text-align: right;
      }

      .scale-row {
        padding-top: 60px;

        .scale-line-block {
          padding-top: 20px;
        }
      }

      .h4 {
        font-size: 40px;
        float: left;
        margin: 0 auto;
        width: 100%;

        .scale {
          display: block;
          float: left;
          .value {
            position: relative;
            font-size: 10px;
            display: block
          }
        }
      }

      .scale-line {
        position: relative;
        width: 100%;
        height: 10px;
        overflow: hidden;
        background: white;
        border-radius: 5px;
      }

      .line {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 79%;
        // background-image: linear-gradient(to right, transparent 0%, transparent 50%, #fff 50%, #fff 100%);
        background: linear-gradient(to right, #0673c3 0%,#2686a2 33%,#53a175 66%,#8ac33c 100%);
        border-radius: 5px;

        &::after {
          background: white;
          position: relative;
          left: 77.5%;
          top: 1px;
          height: 8px;
          width: 8px;
          border-radius: 5px;
        }
      }

      .before-ico {
        .header {
          margin-bottom: 20px;
          display: block;
          font-size: 25px;
        }
      }
    }
  }
}
@media (max-width: 1280px) {
  .sbi-scale-container {
    margin-top: 20px !important;
  }
}
@media (max-width: 1024px) {
  .scale-line-block {

  }
}
@media (min-width: 1024px) {
  .sbi-scale-container {
    width: 900px;

    .scale-line {
      width: 90% !important;
      margin: 0 auto !important;
    }
  }
  .sbi-logo-container {
    margin-top: 5rem !important;
  }
}
@media (min-width: 1280px) {
  .sbi-logo-container {
    margin-top: 5rem !important;
  }
}
@media (max-width: 1024px) {

  .sbi-logo-container {
    margin-top: 0 !important;
  }
}

@media (max-width: 768px) {

  .sbi-logo-container {
    margin-top: 5rem !important;
  }

  .sbi-scale-container {
    width: 100%;
    .scale-row {
      padding-top: 90px !important;

      .header {
        font-size: 12px !important;
      }

      .scale-line-block {
        padding-top: 10px !important;
      }
    }

    h4, .h4 {
      font-size: 18px !important;
      margin: 10px;

      .scale {
        display: block;
        float: left;
        .value {
          position: relative;
          font-size: 10px;
          top: -5px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .videoContainer {
    iframe {
      width: 100%;
    }
  }
  .sbi-logo {
    margin-top: 30px !important;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  .sbi-text-container {
    h3 {
      font-size: 16px !important;
    }
  }
  .top-header {
    height: 510px;
    .top-top {
      height: 300px
    }
    .top-bottom {
      height: 240px;

      .sbi-scale-container {
        margin-top: 7vh !important;
      }
    }
  }

  .sbi-scale-container {
    h4, h4 {
      font-size: 16px !important;

      .scale {
        .value {
          font-size: 9px !important;
        }
      }
    }

    .scale-line {
      width: 90% !important;
      margin: 0 auto !important;
    }
  }
}

.videoContainer {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;

  iframe {
    position: relative;
    top: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}