.team {
  margin-top: 2rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;

  .road-map-stages {
    padding-bottom: 5rem;
    &:last-child {
      padding-bottom: 0;
    }
  }

  .team-row {
    text-align: center;

    .name {
      font-size: 22px;
      font-weight: bold;
      margin: 30px 0 15px 0;
    }

    .text {
      margin-bottom: 20px;
      height: 50px;
    }

    .social-link {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .name {
    height: 52px !important;
  }
  .text {
    height: 65px !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .team {

    .team-row {

      .team-block {
        .text {
          height: 65px !important;
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .team {

  }
}

@media (min-width: 1400px) and (max-width: 1500px) {

}
