.who-we-are {
  padding-top: 3rem;
  margin-top: 2rem;
  padding-bottom: 3rem;

  i {
    margin-right: 10px;
  }

  .idea {
    .text-block {
      width: 80%;
      display: block;
      margin: 0 auto;
    }
  }

  .contacts {
    header {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
    p {
      margin-bottom: 0 !important;
    }
  }

  .list-of-certificates {
    font-size: 1rem;
  }

  header {
    font-weight: bold;
  }

  .el-collapse:first-child:first-child {
    font-size: 1rem !important;

  }

  .group-list {
    padding-left: 1rem;
    li {
      list-style-type: none;
    }
    a {
      font-size: 16px;
    }
  }

  .gif {
    padding-top: 1rem;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    background-size: 80%;

    .team-image {
      width: 80%;
      margin: 0 auto;
      display: block;
    }
  }

  .text-block {
    text-align: left;
    line-height: 2rem;
    padding-top: 1rem;

    &.center {
      text-align: center !important;

      li {
        list-style-type: none;
        p {

        }
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  .text-block-center {
    line-height: 2rem;

    p {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}