.five-stones {
  .stones {
   &::after {
     // border-bottom: 2px dotted;
     background-image: linear-gradient(to right, silver 5px, transparent 3px);
     background-size: 10px 2px;
     background-repeat: repeat-x;
     background-position: 0 bottom;

     content: ' ';
     position: relative;
     top: 0;
     left: 10%;
     color: #333;
     z-index: 1;
     width: 80%;
     height: 2px;
     float: left;
   }
  }

  .stone-block {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;

    &.stone-block1 {
      background: url('./../../assets/svg/k1.svg');
      .stone {

        &::after {
          background-color: #9bbc8f;
        }
      }
    }
    &.stone-block2 {
      background: url('./../../assets/svg/k2.svg');
      .stone {

      }
    }
    &.stone-block3 {
      background: url('./../../assets/svg/k3.svg');
      .stone {

      }
    }
    &.stone-block4 {
      background: url('./../../assets/svg/k4.svg');
      .stone {

      }
    }
    &.stone-block5 {
      background: url('./../../assets/svg/k5.svg');
      .stone {

      }
    }

    .stone {
      height: 142px;
      background-size: 100px !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      &::after {
        content: ' ';
        position: relative;
        top: 135px;
        left: 48%;
        color: #333;
        background-color: #c0c0c0;
        z-index: 10;
        width: 16px;
        height: 16px;
        border-radius: 10px;
        float: left;
      }
    }
  }
}

@media (max-width: 500px) {
  .five-stones {
    top: 107vh !important;
  }
}