.video-block {
  padding-top: 3rem;
  margin-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;

  .video-row {
    margin-bottom: 5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .video {

    &.right {
      background-position: right bottom;
      padding-left: 2rem;
    }
    &.left {
      background-position: left bottom;
    }

    background: linear-gradient(#57e687, #0e8dbb);
    background-repeat: no-repeat;
    padding-bottom: 50px;
    background-size: 80%;
    iframe {
      position: relative;
      width: 90%;
    }
  }

  .idea {

    h2 {
      display: inline-block;
      border-bottom: 1px solid;
      padding: 0 15px 10px 15px;
    }

    &.left {

      .text-block {
        text-align: right;
      }
    }
    &.right {
      .text-block {
        text-align: left;
      }
    }
  }

  .el-carousel {
    background: url('./../../assets/svg/slider.svg');
    background-position: center;
    background-repeat: no-repeat;
  }

  .svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-block {
    padding: 0 5rem 0 0;
    width: 100%;
    svg {
      width: 100%;
      fill: white;
      stroke: #0f0f0f;
      stroke-opacity: 0.7;
    }
  }
  .text-block {
    text-align: left;
    line-height: 2rem;

    &.center {
      text-align: center !important;

      li {
        list-style-type: none;
        p {

        }
      }
    }

    .problem {
      font-weight: bold;
    }

    p {
      margin-top: 3rem;
      margin-bottom: 2rem;
      font-size: 20px;
    }
  }
  .text-block-center {
    line-height: 2rem;
    p {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .stone-samples {
    img {
      width: 100%;
    }
  }
}
@media (max-width: 768px) {
  iframe {
    height: 140px !important;
    width: 100% !important;
  }
  .video {
    padding-left: 0 !important;
    background-size: 100% !important;

    &.left {
      padding-left: 0 !important;
    }
  }
  .idea {
    .text-block {
      text-align: center !important;
    }
  }
}

@media (max-width: 1024px) {
  .about-company {
    .image-block {
      padding: 0 5rem 0 5rem;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .video {
    &.left {
      padding-left: 3rem !important;
    }
  }
}