.register {
  .register-container {
    text-align: center;
    height: 1200px;
    background: url('./../../assets/top-back-jpg.jpg');
    background-size: cover;

    .el-form-item {
      text-align: center;
    }
  }
}

.button {
  width: 100%;
}

.bottom-line {
  margin-top: -20px;
  text-align: right;
}
