.login {

  .router-link-active {
    color: #6771a9;

    span {
      vertical-align: middle;
      padding-left: 5px;
      display: table-cell;

      &:hover {
        color: #7dbb49;
      }
    }
  }

  .el-icon-sb-invest {

  }

  .sbi-button-link {
    font-size: 22px;
  }

  .login-container {
    height: 100vh;
    background: linear-gradient(0deg,#b3e3b6, #b3e3b6 33%,#b3e3b6 70%, #c4f2c6);
    background-size: cover;

    .el-form-item {
      text-align: center;
    }
  }

  .button {
    width: 100%;
  }

  .bottom-line {
    margin-top: 22px;
    text-align: right;
  }
}