.login {

  .login-container {
    height: 100vh;
    background: url('./../../assets/top-back-jpg.jpg');
    background-size: cover;

    .el-form-item {
      text-align: center;
    }
  }

  .button {
    width: 100%;
  }

  .bottom-line {
    margin-top: -20px;
    text-align: right;
  }
}