.news {
  background: url('./../../assets/top-back.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-size: 18px;

  #google_translate_element {
    position: fixed !important;
  }


  a {
    color: #5a6290;
  }

  .el-card {
    min-height: 1000px;
  }

  .header-block {
    padding: 0 !important;
    .el-menu-item {
      a {
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
  .add-button {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .articles  {
    margin-top: 10px;
    h2 {
      margin-top: 0;
      margin-bottom: 10px;
    }
    .date {
      font-size: 12px;
      color: gray;
    }
    .article-text {
      padding: 10px 20px 10px 10px;
      text-align: justify;
    }
    img {
      width: 40%;
      float: left;
      margin-right: 10px;
    }
  }

  .main-article {
    padding: 1rem;
  }
  .secondary-articles {
    padding: 1rem;
  }
  .secondary-article {
    padding: 1rem;

    h2 {
      font-size: 20px;
    }
  }

  .other-articles {
    padding: 1rem;
  }

  .main-block {
    width: 100%;
    margin-top: 70px;
  }

  .file_upload{
    position: relative;
    overflow: hidden;
    font-size: 1em;
    line-height: 40px;

    mark {
      margin-right: 10px;
    }

    button {
      width: 8em;            /* example */
      height: 100%
    }

    div{
      padding-left: 1em      /* example */
    }

    .file-input{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: scale(20);
      letter-spacing: 10em;     /* IE 9 fix */
      -ms-transform: scale(20); /* IE 9 fix */
      opacity: 0;
      cursor: pointer
    }
  }
}

@media only screen and ( max-width: 500px ){  /* example */
  .file_upload > div{
    display: none
  }
  .file_upload > button{
    width: 100%
  }
}