body {
  margin: 0;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}
#app {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.header {
  text-align: center;
}

.social-link {
  img {
    width: 30px;
  }
}