@import url("//fonts.googleapis.com/css?family=Open+Sans:100,300,400,500,600,700");
html {
  width: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}
#app {
  max-width: 1920px;
  margin: 0 auto;
}
h1 {
  font-size: 35px;
  font-weight: 600;
}
h2 {
  font-size: 30px;
  font-weight: 600;
}
#app {
  font-family: Helvetica, "Helvetica Neue", "PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.header {
  text-align: center;
}

.social-link {
  img {
    width: 40px;
    transition: all .1s ease;

    &:hover {
      width: 45px;
    }
  }
}

.el-notification {
  font-family: Helvetica, "Helvetica Neue", "PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.el-icon-sb-invest {
  background-image: url('./../src/assets/logo.png');
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

.menu-row {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1000;

  .el-menu-sbi {
    background-color: transparent;

    .el-menu-item {
      color: black;
      text-transform: uppercase;
      font-weight: 400;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.41);

      a:active {
        border: none;
      }

      a {
        text-decoration: none;
        display: block;
      }

      &.is-active {
        border-bottom: 1px solid black;
      }
    }
    .el-sub-menu-sbi {
      &.is-active {
        .el-submenu__title {
          border-bottom: 1px solid black !important;
        }
      }
    }
  }
}
.sbi-button {
  font-size: 21px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.478431);
  border: 1px solid black;
  color: white;
  font-weight: 300;
  margin-top: 1rem;

  &:hover {
    background: rgba(0, 0, 0, 0.67);
    border-color: black;
  }
  &:active, &:focus {
    background: #7dbb49;
    border-color: black;
  }
}
.sbi-button-link {
  color: #7dbb49;
}
.register, .login {
  .el-form-item__error {
    width: 100%;
  }
}

.el-message__content {
  font-size: 20px !important;
}
.el-button--success {
  color: #fff;
  background-color: #67ae61;
  border-color: #67ae61
}
.el-message--success .el-message__content {
  color: #67ae61;
  font-family: OpenSans, "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.el-tooltip__popper.is-light {
  font-family: OpenSans, "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.el-button.is-round {
  border-radius: 100px;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .el-dialog {
    width: 100% !important;
  }
}