.conditions {
  text-align: center;
  // background-image: url('./../../assets/svg/road-back.svg');

  background: rgba(96,108,164,1);
  background: -moz-linear-gradient(left, rgba(96,108,164,1) 0%, rgba(96,108,164,1) 0%, rgba(115,125,177,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(96,108,164,1)), color-stop(0%, rgba(96,108,164,1)), color-stop(100%, rgba(115,125,177,1)));
  background: -webkit-linear-gradient(left, rgba(96,108,164,1) 0%, rgba(96,108,164,1) 0%, rgba(115,125,177,1) 100%);
  background: -o-linear-gradient(left, rgba(96,108,164,1) 0%, rgba(96,108,164,1) 0%, rgba(115,125,177,1) 100%);
  background: -ms-linear-gradient(left, rgba(96,108,164,1) 0%, rgba(96,108,164,1) 0%, rgba(115,125,177,1) 100%);
  background: linear-gradient(to right, rgba(96,108,164,1) 0%, rgba(96,108,164,1) 0%, rgba(115,125,177,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606ca4', endColorstr='#737db1', GradientType=1 );

  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 60%;
  padding-top: 3rem;
  margin-top: 2rem;
  padding-bottom: 8rem;
  margin-bottom: 2rem;
  position: relative;

  .videoContainer {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;

    iframe {
      pointer-events: none;
    }
  }

  h2 {
    color: white;
  }

  .conditions-block {

    .text-block {

      color: white;
      p {
        margin: 10px 0;
      }
    }
  }

  .pre-sale-block {
    margin: 40px -10px;
    background: white;
    padding: 2.5rem;
    font-weight: 300;
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    font-size: 22px;

    .el-col {
      padding: 0 !important;
    }
  }

  .sale-block {
    margin-top: 20px;
    margin-bottom: 60px;
    border: 1px dashed white;
    color: white;

    .el-col {
      padding: 1rem 0 !important;
      &:nth-child(odd) {
        border-right: 1px dashed white;
      }
    }
  }

  .footer-text {
    font-size: 20px;
    p {
      margin-top: 50px;
    }
  }

  .graph-block {

    .top {
      text-align: left;
      padding-bottom: 2rem;
      font-size: 16px;

      strong {
        // font-size: 30px;
      }

      &.top-1 {
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
      }

      &:before {
        content: ' ';
        position: relative;
        top: 0;
        left: -24px;
        color: #333;
        z-index: 10;
        width: 16px;
        height: 16px;
        border-radius: 10px;
        float: left;
      }
      &.top-1 {
        &::before {
          background-color: #c0c0c0;
        }
      }

      &.top-2 {
        &::before {
          background-color: #1a7dae;
        }
      }

      &.top-3 {
        &::before {
          background-color: #2f8b98;
        }
      }

      &.top-4 {
        &::before {
          background-color: #53a173;
        }
      }

      &.top-5 {
        &::before {
          background-color: #65ac61;
        }
      }

      &.top-6 {
        &::before {
          background-color: #8fc476;
        }
      }

      &.top-7 {
        &::before {
          background-color: black;
        }
      }
    }

    .graph-left-block {
      background-color: white;
      padding: 2rem;
      // height: 650px;

      .graph-left {

        .graph-svg {
          background: url('./../../assets/svg/graph-left.svg');
          background-repeat: no-repeat;
          background-position: top center;
          background-size: contain;
          padding-left: 20px;
          height: 300px;
          margin-bottom: 5rem;
        }

        .top-1 {
          padding-bottom: 1rem;
        }

        &::before {
          background-image: linear-gradient(silver 5px, transparent 3px);
          background-position: right;
          background-size: 2px 8px;
          background-repeat: repeat-y;

          content: ' ';
          position: relative;
          top: 0;
          left: -15px;
          color: #333;
          z-index: 1;
          width: 3px;
          // height: 595px;
          float: left;
        }
      }
    }

    .graph-right-block {
      background-color: white;
      padding: 2rem;
      height: 650px;

      .graph-right {

        .graph-svg {
          background: url('./../../assets/svg/graph-right.svg');
          background-repeat: no-repeat;
          background-position: top center;
          background-size: contain;
          padding-left: 20px;
          height: 280px;
          margin-bottom: 7rem;
        }

        &::before {
          background-image: linear-gradient(silver 5px, transparent 3px);
          background-position: right;
          background-size: 2px 8px;
          background-repeat: repeat-y;

          content: ' ';
          position: relative;
          top: 0;
          left: -15px;
          color: #333;
          z-index: 1;
          width: 3px;
          // height: 545px;
          float: left;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .conditions {
    margin-top: 0 !important;
    padding-top: 0 !important;
    background-size: 700% !important;
  }
  .pre-sale-block {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 15px !important;
    font-size: 18px !important;
  }
  .sale-block {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .conditions {
    background-size: 160% !important;

    .graph-svg {
      margin-bottom: 0 !important;
    }
  }
  .graph-block {
    .top {
      font-size: 14px !important;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .conditions {
    background-size: 100% 55% !important;
  }
  .pre-sale-block {
    font-size: 18px !important;
  }
  .graph-block {
    .top {
      font-size: 14px !important;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .pre-sale-block {
    font-size: 18px !important;
  }
}

@media (min-width: 1400px) and (max-width: 1500px) {

}

@media (max-width: 500px) {
  .graph-left-block {
    height: auto !important;

    .graph-left {
      .graph-svg {
        height: 180px !important;
      }
      &::before {
        // height: 600px !important;
      }
    }
  }
  .graph-right-block {
    height: auto !important;

    .graph-right {
      .graph-svg {
        height: 170px !important;
      }
      &::before {
        // height: 485px !important;
      }
    }
  }
}